.hero {
    /* Here */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
isolation: isolate;

position: absolute;
width: 1280px;
height: 570px;
left: 0px;
top: 170px;
}
.left {
    /* Rectangle 22 */

width: 426.67px;
height: 570px;

background: #D9D9D9;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}
.right {
    /* Frame 427319345 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px;
gap: 8px;

position: absolute;
width: 996px;
height: 136px;
left: 40px;
top: 394px;

background: rgba(6, 6, 6, 0.6);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;

}
.f {
    /* Frame 427319346 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 409px;
height: 24px;

}
.f p {
    /* MAINTAIN YOUR STEEZ AND COMPOSURE */

width: 409px;
height: 24px;

/* Neue/Medium//20 */
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */
text-align: center;

color: #FFFFFF;
}
.s {
    /* Frame 427319347 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 964px;
height: 24px;

}
.s p {
    /* From backpacks to sneakers. These are the best in the market of wears to help you look fresh and smart */

width: 964px;
height: 24px;

/* Neue/Medium//20 */
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */
text-align: center;

color: #FFFFFF;

}